{% extends "core/base.html" %}

{% block title %}
Library - LixDex
{% endblock %}

{% block content %}

    <h1>Your Library</h1>

    <p>{{ username }}'s gaming library.</p>
    <p>Added games: {{ games_count }}</p>

    <div id="games_list">
        {% for entry in entries %}

            <div class="game-card">

                {% if entry.game.background_image %}
                    <img
                        src="{{ entry.game.background_image }}"
                        alt="{{ entry.game.title }}"
                    >
                {% endif %}

                <div class="game-info">

                    <h2>{{ entry.game.title }}</h2>

                    {% if entry.game.released %}
                        <p>Released: {{ entry.game.released }}</p>
                    {% endif %}

                    {% if entry.status == "completed" %}
                        <p>✅ Completed</p>

                    {% elif entry.status == "playing" %}
                        <p>🟢 Playing</p>

                    {% else %}
                        <p>{{ entry.get_status_display }}</p>
                    {% endif %}

                    <p>Hours: {{ entry.hours }}</p>

                    {% if entry.rating %}
                        <p>Rating: {{ entry.rating }}/10</p>
                    {% else %}
                        <p>Rating: Not rated</p>
                    {% endif %}

                    <a href="{% url 'edit_entry' entry.id %}">
                        Edit
                    </a>

                    <a href="{% url 'delete_entry' entry.id %}">
                        Delete
                    </a>

                </div>
            </div>

        {% empty %}
            <p>Your library is empty.</p>
        {% endfor %}
    </div>

{% endblock %}